.card {
    background-color: #fff;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;

    @media screen and (max-width: 600px){
        font-size: 11px;
      margin: 3px;
      padding: 2px;
    }
}

