@import './weather-icons/weather-icons.min.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: gray;
  background-image: url('./assets/weather.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  padding-top: 20px;
}

//current weather 
.current-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 50px auto;

  i {
    font-size: 100px;
    margin-top: 40px;
  }

  @media screen and (max-width: 600px){
    margin: 30px auto;
  }
  
}

//weather card
.forecast-container {

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  bottom: 0;
  width: 100vw;
  height: 30px;
  color: #fff;
}
